.promo{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    position: relative;
    z-index: 2;
}
#hero{
    min-height: 100vh;
    position: relative;
}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
    opacity: 0.5;
    mix-blend-mode: overlay;
}

/*

.baner{
    width: 90%;
    height: 400px;
    background-color: red;
    
}
#imagen_banner{
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 72in;
    max-height: 36in;
}

.carousel__contenedor{
    position: relative;
}
.carousel_anterior, .carousel_siguiente{
position: absolute;
display: block;
width: 30px;
height: 30px;
border: none;
top: calc(50% - 35px);
cursor: pointer;
line-height: 30px;
text-align: center;
background: none;
color: wheat;
opacity: 20%;
}
.carousel_anterior:hover, .carousel_siguiente:hover{
    opacity: 100%;
}
.carousel_anterior{
    left: -30%;
}
.carousel_siguiente{
    right: -30%;
}
.carrousel_lista{
    overflow: hidden;
}
.carrousel_elemento{
    text-align: center;
}
.carrousel_indicadores .glider-dot{
    display: block;
    width: 30px;
    height: 4px;
    background: #fff;
    opacity: .2;
    border-radius: 0;

}
.carrousel_indicadores .glider-dot:hover{
    opacity: .5;;
}
.carrousel_indicadores .glider-dot.active{
    opacity: .1;
}*/

/* ESTILO CARROUSEL*/
.contendor_carrousel{
   width: 90%;
   max-width:900px ; 
   margin: auto;
   overflow: hidden;
   /*box-shadow:0 0 0 5px #0c0c0c,
   0 15px 50px ;*/
   box-shadow: 0 15px 15px #000000;
   position: relative;
   
}
.carrousel{
    display: flex;
    width: 400%;
    height: 400px;
    margin-left: -100%;
}
.carrousel_section{
    width: 100%;
}
.carrousel_img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carrousel_btn{
    position: absolute;
    width: 30px;
    height: 25px;
    background: rgba(16, 15, 15, 0.7);
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    color: white;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    
}
.carrousel_btn:hover{
    background-color: white;
    color: #3E0169;
}
.carrousel_btn_left{
    left: 10px;
}
.carrousel_btn_right{
        right: 10px;
}

/*ESTILO CURSOS*/
.Cursos_destacados{
    text-align: center;
    margin-top: 45px;
}

h2{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: #3E0169;
    box-shadow: 0 15px 15px #000000;
    
    font-family: 'Press Start 2P', cursive;
    color: white;
}
.card-list-cursos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px; 
}
.card{
    cursor: pointer;
}
.card-img{
background: transparent;
margin-bottom: 15px;
padding-right: 15px;
padding-left: 15px;
}
.card-img img{
height: 400px;
object-fit: cover;
box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
width: 280px
}
.text-curso{
    color: white;
    font-size: 15px;
    justify-content: space-between;
}
.categoria{
    color: white;
    font-weight: 200;
    line-height: 1.4;

}
.categoria:hover{
    color: blue;
    text-decoration: underline;
}
/*ESTILO PAGO*/
.Pagos_destacados{
    text-align: center;
    margin-top: 45px;
}

h2{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: #3E0169;
    box-shadow: 0 15px 15px #000000;
    
    font-family: 'Press Start 2P', cursive;
    color: white;
}
.card-list-pagos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    
}
.pagos{
    cursor: pointer;
}
.pagos-img{
background: transparent;
padding-right: 15px;
padding-left: 15px;
}
.pagos-img img{
height: 200px;
object-fit: cover;
width: 280px;
}
.text-pagos{
    color: white;
    font-size: 15px;
    justify-content: space-between;
}
.categoria{
    color: white;
    font-weight: 200;
    line-height: 1.4;

}
.categoria:hover{
    color: blue;
    text-decoration: underline;
}
