*{
    margin: 0;
    padding: 0;
} 
main{
    width: 100%;
    height: 100vh;
    background-color: #d9c6a6;
}
.img_curso img{
    width:500px;
    padding: 10px;
    margin-right: 20px;
    display: inline-block;
        
}
/* FORMULARIO =================================== */
.form_wrap{   
    width: 1000px;
    height: 800px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    align-items: center;
    flex-direction: row;
    display: inline-flex;
    transform: translate(45%,8%);
    background-color: #ffebcd;  
}
.formformulario{
    display: inline-block;
    align-items: start;
    justify-content: space-between;
    padding: 0px 0px 8px 0px;
}
.inputformulario{
    width: 20%;
    border-radius: 28px;
    padding: 8px 2px 0px 0px;
    border: 1px solid #d0d0d0;
   
}
#form{
    width: 70%;
}

#form h2{
	font-size: 25px;
	font-weight: 600;
	color: #303030;
	margin-bottom: 30px;
}

#form.user_info{
    text-align: center;
    background-color:  #ffebcd;
    width: 600px;
    position: absolute ;
    left: 53%;
    transform: translate(-10%, 10%);
    border-radius: 10px 10px 10px 10px;
}

#form label{
    font-weight: 600;
}

#form input,
#form textarea{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 8px 5px 5px;

    border-radius: 10px;
    border: 3px solid #c9932d;

	font-size: 14px;
	font-weight: 400;
	color: #5A5A5A;
    font-family: 'Open sans';
}

#form textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 90px;
}

#form  input[type="button"]{
    width: 180px;
	border: none;
	padding: 10px;
	border-radius: 25px;
	background:  #e7b04b;

    align-self: flex-end;

    color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	font-family: 'Open sans';
}

#form input[type="button"]:hover{
    background:  #c9932d;
}
article{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px 0px 20px 10px;
}
.buttonformulario{
    width: 40px;
    border: none;
    padding: 10px;
    margin-right: 5px;
    color: #000000;
    cursor: pointer;
    border-radius: 100%;
    justify-content: flex-start;
    background-color: #F7BF03;
}
