*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
main{
    height: 100vh;
    justify-content: center;
    background-color: #b483c7b9;
}
#content{
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    gap: 0px;
    padding: 40px; 
    justify-content: center;
    position: static;
}
#back{
    position: static; 
    align-items: center;
    transform: translate(45% , 150%);
}
#back a{
    color: #ffffff;
    background-color:  #80397a;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    border-radius: 10px 10px 10px 10px;
    border: 1px  black;
    
}
a:link{
    text-decoration: none;
}
#back :hover{
    color: #000000;
    background-color: #d532c8;
}
#mapa{
    /*left: 30%;*/
    width: 650px;
    margin-top: 20px;
    padding-top: 60px;
    padding-left: 0px;
    padding-right:0px;
    padding-bottom: 30px;
    /*transform: translate(-45%, 17.5%); /*izq-der// arriba-abajo*/
    border-radius: 10px 10px 10px 10px;
    
}
#mapa iframe{
    width: 500px;
    height: 550px;
    margin-top: 30px;
    box-shadow: 0px 6px 10px #80397a,
                0px -6px 10px #80397a;
}
h3{
    display: inline-flex;
    position: relative;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: x-large;
    color: #000000;
    text-shadow:0px 6px 10px #f78eee,
                0px -6px 10px #f78eee;
     display: block;
    width: 100%;
    margin-bottom: 8px;
    font-size: large;
    color: white;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}
#section-contact{
    width: 600px;
    height: 700px;
    padding-top: 30px;
    position: relative ;
    transform: translate(-10% , 0%);
    border-radius: 10px 10px 10px 10px;
    /*left: 53%;
    /*transform: translate(-10%, 10%);*/
}
#logo-contacto{
    width: 50px;
    height: 50px;
}
.header{
    width: 100%;
    overflow: auto;
    border-radius: 10px 10px 10px 10px;
    background-color: transparent;
}
.header span{
    font-size: 30px;
    display: block;
    text-align: center;
    margin-top: 50px;
}
.contact-form{
    padding: 0.8rem;
    overflow: hidden;
    color: rgb(0, 0, 0);
    text-shadow:0px 6px 10px #f78eee,
                0px -6px 10px #f78eee;
    
}
.contact-form label{
    display: block;
    width: 100%;
    margin-bottom: 8px;
    font-size: large;
    color: white;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}
.contact-form label{
    font-weight: 700px;
    margin-top: 15px;
}
.contact-form input:not([type=´submit]){
    width: 70%;
    border: none;
    display: relative;
    font-size: 18px;
    font-size: large;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 10px #80397a,
                0px -3px 10px #80397a;
}
.contact-form textarea{
    width: 80%;
    height: 200px;
    margin-bottom: 8px;
    font-size: large;
    display: relative;
    min-height: 110px;
    max-width: 570px;
    position: static;
    box-shadow: 0px 3px 10px #80397a,
                0px -3px 10px #80397a;
    resize: none
}
button{
    width: 70%;
    padding: 10px;
    cursor: pointer;
    color: #ffffff;
    font-size: large;
    background-color:  #80397a;
    border-radius: 10px 10px 10px 10px;
    border: none;
}
button:hover{
    color: #000000;
    background-color: #d532c8;
}

