#main{
    min-height: 90vh;
    position: relative;
    z-index: 1;
}
#fondo {
    opacity: 0.9;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
/*-----------------------------*/
.titulo-gift h2{
    padding-bottom: 20px;
    padding-top: 10px;
    }
    /*DIV DE IMAGNES**/
    .elementos-color {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content:flex-start;
        padding: 0%;
    }
    .elementos-color img{
        border-radius:50%;
        margin-right: 62px;
        width: 60px;
        height: 60px;
    }
    .elementos-color input{
        margin-left: 25px;
        margin-right: 85px;
    }
    .elemetos-ubicacion{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content:flex-start;
        padding: 0%;
    }
    .elemetos-ubicacion img{
        width: 60px;
        height: 60px;
        margin-right: 63px;
        border: 1px solid #000;
    }
    .elemetos-ubicacion input{
        margin-left: 25px;
        margin-right: 85px;
    }
    .elementos-letra{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content:flex-start;
        padding: 0%;
    }
    .elementos-letra input{
        margin-left: 25px;
        margin-right: 85px;
    }
    .elementos-letra p{
        margin-right: 98px;
    }
    
    .seccion1{
        gap: 50px;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 15px;
        display: inline-flex;
        transform: translate(22%,0);
        background-color: #ffebcd;  
    }
    .container-info{
        flex: 1;
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
    }
    
    .container-title h4{
        font-size: 20px;
        font-weight: 300;
        padding-left: 0;
        padding-bottom: 10px;
        padding-top: 10px;
        color: #252525;
        
    }
    /*IRIA LA GIFT*/
    .container-img{
        padding-top: 25px;
    }
    .container-img img{
        width: 550px; 
        height: 700px;
        transform: translate(4%,8%);   
    }
    article{
        justify-content: flex-start;

    }
    form label{
        font-size: 20px;
        margin-right: 5px;
        color: #252525;
    }
    .boton-inscribirse{
        gap: 5px;
        border: none;
        color: #fff;
        cursor: pointer;
        font-weight: 700;
        margin: 20px 0px;
        padding: 10px 5px;
        border-radius: 10px;
        align-items: center;
        display: inline-block;
        justify-content: center;
        background-color: #F7BF03;
}
.boton-inscribirse:hover{
    background-color: #252525;
    
}