*{
    margin: 0;
}
body{
    text-align: center;
}
header{
    /*display: flex;
    padding-top: 5px;
    width: 100%;
    color: #ffffff;
    background-color: #e6ad45;
    padding: 10px;
    border-bottom: 5px solid #e1a33d;*/
    color: #ffffff;
    background-color: #e6ad45;
    text-align: auto;
    padding: 20px;
    border-bottom: 5px solid #e1a33d;
}
h1{
    align-items: left;
    justify-content: left;  
    vertical-align: middle;
}
#Logo_Principal{
    width: 100px;
    height: 100px;
}
#buscador{
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.carrito{
    width: 15px;
    height: 15px;
}
main{
    width: 80%;
    margin: auto;
    margin-left: 80px;
}


/*MENÚ*/
nav ul{ /* marco del menu*/
    list-style-type: none;
    margin: 0;
    margin-bottom: 0px;
    padding: 0px;
    width: auto;
    overflow: hidden;
    background-color:#F7BF03;
    
}
nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;  /* distancia de abajo-Distancia entre las palabras*/
    text-decoration: none;
}
nav ul li{
    float: left;
}
nav ul li a:hover{
    color: #faebd7;
    background-color: #97742c;
}
.carrousel{
    margin: auto;
}
.imag{
    width: 100%;
    
}
