*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389); 
    background: linear-gradient(to right, #3c1053, #ad5389); 
}


#calendario{
    width: 90%;
    max-width: 1200px;
    margin: 30px 30px;
    margin-left: 140px;
    border-radius: 15px;
    display: inline-block;
    background-color: white; 
    box-shadow: 0px 2px 20px rgb(0,0,0,0.2);
}
